---
import type { CollectionEntry } from 'astro:content';

// Libs
import { Icon } from 'astro-icon/components';

interface Props {
	entry: CollectionEntry<'planifications'>;
}

const { entry } = Astro.props;
---

<div class="flex h-auto flex-1 flex-col rounded-md border-t-2 border-primary bg-white p-4 shadow-md dark:bg-slate">
	<h5 class="text-lg font-medium capitalize leading-5 text-primary dark:text-white">{entry.data.title}</h5>
	<!-- Authors -->
	<div class="mt-2 flex flex-wrap gap-1 text-xs text-slate opacity-80 md:block dark:font-extralight dark:text-white">
		<span class="inline-block">Autoría:</span>
		{entry.data.authors.map((author) => <span class="mr-1 inline-block">{author}</span>)}
	</div>
	<!-- Tags -->
	<div class="flex w-full flex-wrap gap-[2px]">
		{
			entry.data.ejes.map((eje) => (
				<div class="my-1 w-fit rounded-md border border-stone-300 bg-white px-1 text-xs font-light shadow-md dark:border-0 dark:border-stone-600 dark:bg-secondary">
					<span class="opacity-90">{eje.id}</span>
				</div>
			))
		}
	</div>
	<!-- Resumen -->
	<p class="mb-4 mt-2 text-sm opacity-80">
		{entry.data.resumen}
	</p>
	<!-- Ver planificación CTA -->
	<a
		href={`/planification/${entry.slug}`}
		class="group relative order-4 mt-auto box-border flex justify-between rounded-md border border-light-gray p-2 font-medium shadow-md"
	>
		<span> Ver planificación</span>
		<div>
			<Icon name="ion:ios-arrow-right" width={20} height={20} />
		</div>
	</a>
</div>
