---
import type { CollectionEntry } from 'astro:content';

// Libs
import { Image } from 'astro:assets';

interface Props {
	entry: CollectionEntry<'planifications'>;
}

const { entry } = Astro.props;
---

<a href={`/planification/${entry.slug}`} class="group flex h-full flex-1 flex-col">
	<div class="aspect-video overflow-hidden rounded-md">
		<Image
			class="h-full w-full object-cover object-center transition-transform group-hover:scale-105"
			src={entry.data.cover}
			alt={entry.data.coverAlt}
			quality={80}
			loading={'lazy'}
		/>
	</div>
	<h5 class="mb-2 mt-4 text-lg font-medium capitalize text-black dark:text-white">{entry.data.title}</h5>
	<!-- Resumen -->
	<p class="mb-4 line-clamp-3 text-pretty text-sm">
		{entry.data.resumen}
	</p>
	<!-- Ver planificación CTA -->
</a>
