---
import type { CollectionEntry } from 'astro:content';

// Libs
import { Image } from 'astro:assets';

interface Props {
	entry: CollectionEntry<'planifications'>;
}

const { entry } = Astro.props;
---

<a href={`/planification/${entry.slug}`} class="group flex h-auto flex-1 flex-col">
	<div class="aspect-video overflow-hidden rounded-md">
		<Image
			class="h-full w-full object-cover object-center transition-transform group-hover:scale-105"
			src={entry.data.cover}
			alt={entry.data.coverAlt}
			quality={80}
			loading={'lazy'}
		/>
	</div>
	<h5 class="mb-2 mt-4 text-lg font-medium capitalize leading-5 text-black md:mt-8 md:text-2xl dark:text-white">
		{entry.data.title}
	</h5>
	<!-- Authors -->
	<div class="flex flex-wrap gap-1 text-sm font-medium text-slate md:block dark:font-extralight dark:text-white">
		<span class="inline-block">Autoría:</span>
		{entry.data.authors.map((author) => <span class="mr-1 inline-block">{author}</span>)}
	</div>
	<!-- Tags -->
	<div class="mt-2 flex w-full flex-wrap gap-2">
		{
			entry.data.ejes.map((eje) => (
				<div class="my-1 w-fit rounded-md bg-violet-200 px-1 text-sm font-light text-violet-400 shadow-md dark:border-0 dark:border-stone-600 dark:bg-secondary">
					<span>{eje.id}</span>
				</div>
			))
		}
	</div>
	<!-- Resumen -->
	<p class="text-body mb-4 mt-2">
		{entry.data.resumen}
	</p>
</a>
