---
//utils
import { slugify, capitalizeEachWord } from '@utils/stringsMethods';

//components
import MainLayout from '@layouts/MainLayout.astro';
import CardPlanificationFull from '@components/card/CardPlanificationFull.astro';
import TitleSimple from '@components/TitleSimple.astro';
import Pagination from '@components/Pagination.astro';

//libs
import { getCollection, getEntry } from 'astro:content';

//types
import type { CollectionEntry } from 'astro:content';
import type { PaginateFunction } from 'astro';

type Planification = CollectionEntry<'planifications'>;
type EjeTematico = CollectionEntry<'ejes-tematicos'>;

export const getStaticPaths = async ({ paginate }: { paginate: PaginateFunction }) => {
	const allPlanifications: Planification[] = await getCollection('planifications');
	const ejes = [...new Set(allPlanifications.map((plani: Planification) => plani.data.ejes).flat())];
	return ejes.flatMap((eje) => {
		const planiByEje = allPlanifications.filter((plani: Planification) =>
			plani.data.ejes.some((ejeObject) => ejeObject.id === eje.id)
		);
		return paginate(planiByEje, {
			params: { ejetematico: slugify(eje.id) },
			props: { eje },
			pageSize: 4,
		});
	});
};

const { page, eje } = Astro.props;
const ejeData: EjeTematico = await getEntry('ejes-tematicos', eje.id);
---

<MainLayout title="titulo" description="description">
	<TitleSimple title={capitalizeEachWord(ejeData.data.title)} />
	<div class="px-4">
		<p class="text-body mb-8 lg:mb-16">
			{ejeData.data.resumen}
		</p>
		<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
			{page.data.map((plani: Planification) => <CardPlanificationFull entry={plani} />)}
		</div>
		<Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
	</div>
</MainLayout>
